<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="/css/forms.css" />
		<link rel="stylesheet" href="/css/menu.css" />
		<title>Login</title>
	</head>
	<body>
		<%- include('partials/menu') %>
		<div class="flip-form" id="FlipForm">
			<div class="flip-form-inner">
				
				<div class="flip-form-front">
					<form action="/login" method="POST">
						<div class="header">
							<h2>Login</h2>
						</div>
						<% if (errorMessage) { %>
							<div class="error-message">
								<p><%= errorMessage %></p>
							</div>
						<% } %>
						<div class="inputBox">
							<input class="inputText" type="text" name="username" required />
							<label><i class="fa-solid fa-user icon"></i>Username</label>
						</div>
						<div class="inputBox">
							<input class="inputText" type="password" name="password" required />
							<label><i class="fa-solid fa-lock icon"></i>Password</label>
						</div>
						<div class="inputBox">
							<a href="#">Forgot password</a>
						</div>
						<div class="paraText">
							<input type="submit" value="Login" />
						</div>
						<div class="signup-link">
							<p class="paraText">Don't have an account? <a href="#" onclick="flipForm()">Sign up</a></p> <!-- onclick="flipForm()" -->
						</div>
					</form>
				</div>
				
				<div class="flip-form-back">
					<form action="/register" method="POST">
						<div class="header">
							<h2>Sign up</h2>
						</div>
						<div class="inputBox">
							<input type="text" name="username" required />
							<label><i class="fa-solid fa-user"></i>Username</label>
						</div>
						<div class="inputBox">
							<input type="text" name="email" required />
							<label><i class="fa-solid fa-user"></i>Email</label>
						</div>
						<div class="inputBox">
							<input type="password" name="password" required />
							<label><i class="fa-solid fa-user"></i>Password</label>
						</div>
						<div class="inputBox">
							<input type="password" name="confirmPassword" required />
							<label><i class="fa-solid fa-lock"></i>Confirm Password</label>
						</div>
						<div class="paraText">
							<input type="submit" value="Register" />
						</div>
						<div class="login-link">
							<p class="paraText">Already have an account? <a href="#" onclick="flipForm()">Log in</a></p>
						</div>
					</form>
				</div>
			
			</div>
		</div>
		<%- include('partials/footer') %>
		<script>
			function flipForm() {
				var form = document.getElementById('FlipForm')
				form.classList.toggle('flipped')
			}
		</script>
	</body>
</html>
